- var width = 1100
- var height = 500

block append scripts
    script(type="text/javascript", src="/js/iris.js")
    script(type="text/javascript", src="/js/widgets/widget.js")
    script(type="text/javascript", src="/js/widgets/#{js}")
    script(type="text/javascript")
        $(document).ready(function() {
            Iris.Widget["#{widget}"].div("#{widget}").display("#{widget}", {});
        });

div(id="#{widget}", style="position: relative; min-width:500px")
